* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-font: #ccc;
  --color-bgH: #130f40;
  --color-gradient: linear-gradient(315deg, #130f40 0%, #0c0c0c 74%);
  --color-bgS: rgba(19, 15, 64, 0.1);
  --color-button: rgba(19, 15, 64, 1);
  --color-buttonSelect: #4834d4;
  --color-buttonGradient: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
  --shadow: 1em 1em 1.5em rgba(0, 0, 0, 0.25);
  --font: 'Open Sans', sans-serif;
  --light: 300;
  --regular: 400;
  --bold: 700;
}

html,
body {
  background: var(--color-bgH);
  background-image: var(--color-gradient);
  font-family: var(--font);
  color: var(--color-font);
  user-select: none;
  overflow: hidden;
}

body,
main,
footer,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  top: 1.5rem;
  padding: 0 2rem;
  width: 100%;
  height: 2rem;
}

#themeToggle[type='checkbox'] {
  display: none;
}

.title {
  font-size: 4rem;
  position: fixed;
  top: 4rem;
}

main {
  flex-direction: column;
  width: 32rem;
  height: fit-content;
  background: var(--color-bgS);
  box-shadow: var(--shadow);
  border: 2px solid var(--color-font);
  border-radius: 1rem;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.container {
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container .container-txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.container-txt .final-msg {
  text-align: center;
}

.container .question-txt {
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  font-weight: var(--bold);
}

.container .answers {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

.answers .answer {
  display: flex;
  gap: 0.5rem;
  font-weight: var(--light);
}

.answer input,
label {
  cursor: pointer;
}

.answer-txt[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 1rem;
  height: 1rem;

  border: 2px solid var(--color-font);
  border-radius: 50%;

  background-color: var(--color-button);
}

.answer-txt[type='radio']:checked {
  background-color: var(--color-buttonSelect);
}
.answer-txt[type='radio']:checked + label {
  font-weight: var(--bold);
}

.container .submit {
  display: block;
  border: none;

  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: var(--bold);
  color: var(--color-font);
  width: 100%;
  height: 4rem;
  background: var(--color-button);
  cursor: pointer;
}
.submit:hover {
  transition: all ease 0.3s;
  background: var(--color-buttonSelect);
  background-image: var(--color-buttonGradient);
}

.reload {
  width: 100%;
}

h2 .approved {
  color: green;
}

h2 .disapproved {
  color: red;
}

footer {
  position: absolute;
  bottom: 4rem;
  opacity: 0.5;
  width: 100%;
}

@media (max-width: 428px) {
  main {
    width: 100%;
    border-radius: 0;
  }

  button:active {
    background: var(--color-button);
  }
}
